html,
body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: #00d0be;
  color: #ffffff;
}

.scroll-arrow {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  margin: -8px;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

.see-how-arrow {
  animation: MoveRightLeft 1s linear infinite;
  position: absolute;
}

@keyframes MoveRightLeft {
  0%,
  100% {
    right: -35px;
  }
  50% {
    right: -25px;
  }
}


.intl-tel-input:focus {
  outline: none;
}

.intl-tel-input input {
  width: 100%;
  min-width: 0px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: var(--chakra-sizes-12);
  font-size: var(--chakra-fontSizes-xs);
  border-radius: var(--chakra-radii-md);
  border: 1px solid;
  border-color: inherit;
  background: inherit;
  background-color: var(--chakra-colors-gray-50);
}

.intl-tel-input.allow-dropdown .flag-container {
  width: unset !important;
}

.otp-input input {
  width: 3.5rem !important;
  text-align: center;
  font-family: TRYVesterbro;
  border-radius: 0.375rem;
  border-color: rgb(241, 241, 241);
  background: rgb(250, 250, 250);
  color: rgb(200, 43, 56);
  appearance: none;
  height: 3.5rem !important;
  font-weight: 600;
  font-size: 2rem;
  border-width: 1px;
}

@media screen and (min-width: 62em) {
  .intl-tel-input input {
    font-size: var(--chakra-fontSizes-sm);
    height: var(--chakra-sizes-16);
  }
  
  .otp-input input {
    width: 5rem !important;
    padding: 0.75rem;
    height: 4.813rem !important;
    font-weight: 600;
    font-size: 2rem;
  }
}

@media screen and (min-width: 80em) {
  .menu-flags {
    padding-bottom: 0 !important;
    background-color: #00d0be;
  }

  .menu-flags button svg {
    border-radius: 50%;
    font-size: 25px;
  }

  .menu-flags ul {
    font-weight: 700;
    font-size: 18px !important;
    background-color: #011e28 !important;
  }

  .menu-flags ul li {
    padding-left: 25px !important;
  }

  .menu-flags ul li svg {
    border-radius: 50%;
    font-size: 25px;
  }

  .menu-flags ul li:hover {
    background-color: #00d0be !important;
  }

  .menu-flags-button {
    height: 4.5rem;
    font-weight: 700;
    color: #ffffff !important;
    border: unset !important;
    border-radius: 0 !important;
    font-size: 18px !important;
    padding: 5px 20px !important;
  }

  .hero-curved-section {
    bottom: -1px;
    width: 100%;
    height: 3.5rem;
    position: absolute;
    border-radius: 0 100% 0 0;
    background-color: white;
  }

  .section-two-div-curved::before {
    content: "";
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(224, 250, 248, 0.2);
    border-radius: 0 0 10% 10%;
  }
}
